.edit_view {
    border: solid black;
    border-width: 0.3em;
    border-radius: 3%;
    padding: 1.5em;
    background-color: var(--background-color);
}

header {
    overflow: auto;
}

#selected_image {
    width: 100%;
    height: auto;
}

#left {
    float: left;
    width: 40%;
    height: auto;
}

#right {
    float: right;
    width: 50%;
    height: auto;
    padding-top: 2.5em;
}
.button_item{
    border-radius: 0.4em;
    background-color: var(--nav-bg-color);
    padding: 10px;
    color: white;
    font-family: "Book Antiqua";
}
.button_item:hover {
    border-radius: 0.4em;
    background-color: var(--nav-accent-color);
    padding: 10px;
}

.filters>button {
    display: block;
}


.filter>img {
    width: 100%;
    height: auto;
}

.filter {
    display: inline-block;
    width: 30%;
}

.filter>.button {
    border-radius: 0.2em;
    background-color: var(--nav-accent-color);
    padding: 100px;
}