.advanced_search {
    position: fixed;
    margin-top: var(--nav-height);
    top: 0;
    left: 0;
    height: 100%;
    width: 21em;
    transform: translateX(-100%);
    transition: .5s;
    background-color: var(--nav-bg-color);
    color: #fff;
    text-align: left;
    font-family: "Verdana";
    padding: 1em;

    opacity: 0.85;
    z-index: 20;
}

.advanced_search *
{
    font-family: "Verdana";
    display: block;
}

.advanced_search.is--open {
    transform: translateX(0);
}

.advanced_search h2
{
    font-size: 1em;
    margin-bottom: 2em;
}

.advanced_search .section_title
{
    font-size: 1em;
    margin-top: 2em;
}

.advanced_search label
{
    font-size: 0.85em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.advanced_search > #dimension_section
{
    
}

.advanced_search #min_width_div, #min_height_div
{
    display: inline-block;
    width: 48%;
}

.advanced_search #max_width_div, #max_height_div
{
    display: inline-block;
    float: right;
    width: 48%;
}


.advanced_search a {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    margin: 1em 0;
}

@media screen and (min-width: 50em) {
    .menu {
        width: 25em;
    }
}
@media screen and (max-width: 55em) {
    .advanced_search{
        width: 15em;
    }
}
.advanced_search #btn_search {
    width: 8em;
    font-size: 1.1em;
    height: 2.7em;
    margin-top: 2em;
    background-color: var(--nav-accent-color);
    border-width: 0;
    border-radius: 0.2em;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.advanced_search #btn_search:hover {
    background-color: var(--nav-accent-color);
}

.advanced_search input {
	width: calc(100% - 0.6em);
    height: 2.5em;
	font-size: 0.85em;
    color: gray;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.3em;
	background-color: white;
	border-width: 0;
    border-radius: 0.2em;
}
