body {
	margin: 0;
}

nav {
	background-color: var(--nav-bg-color);
	margin: 0;
	padding: 0;
	height: var(--nav-height);
	position: fixed;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	z-index: 10;
}

nav .navbar_half {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-end;
	flex-wrap: nowrap;
	align-items: center;
}

nav #navbar_half_left {
	float: left;
}

nav #navbar_half_right {
	float: right;
}

nav .navbar_half .clickable_item, .dropdown_menu {
	background-color: var(--nav-bg-color);
	border-width: 0;
	text-decoration: none;
	font-size: 1.1em;
	color: var(--nav-font-color);
	font-family: "Verdana";
	padding-left: 0.5em;
	padding-right: 0.5em;
	height: 100%;
	line-height: 300%;
}

nav .clickable_item:hover, .dropdown_menu:hover {
	border-radius: 0.2em;
	background-color: var(--nav-accent-color);
}

nav .dropdown_content > .clickable_item:hover
{
	border-radius: 0;
}

nav #search_button
{
	padding-left: 1em;
	padding-right: 1em;
}

.dropdown_menu {
	display: none;
	position: relative;
}

.dropdown_menu:hover .dropdown_content {
	display: flex;
	flex-direction: column;
}

.dropdown_content {
	width: 11em;
	position: absolute;
	left: 100%;
	top: 100%;
	transform: translate(-100%);
	display: none;
	background-color: #f1f1f1;
	border-width: 0;
}

.dropdown_content .clickable_item
{
	height: 3em;
	line-height: 3em;
	width: auto;
	background-color: var(--nav-bg-color);
	border-width: 0;
	text-decoration: none;
	font-size: 0.9em;
	color: var(--nav-font-color);
	font-family: "Verdana";
	padding-left: 0.5em;
	padding-right: 0.5em;

	text-align: left;
}

.dropdown_content > form > #logout_button_2
{
	width: 100%;
}

nav .search_box {
	width: 20em;
	font-size: 0.9em;
	height: 2em;
	margin-left: 0.65em;
	margin-right: 0.5em;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0.3em;
	background-color: white;
	border-width: 0;
	border-radius: 0.2em;
}

@media (max-width: 55em) {
	nav>form>.navbar_half>.clickable_item {
		display: none;
	}
	nav #simple_search_button {
		display: flex;
	}
	.dropdown_menu {
		display: flex;
	}
	nav .search_box {
		width: 12em;
		max-width: 40vw;
	}
}
