:root {
	--nav-bg-color: #303030;
	--nav-font-color: white;
	--nav-accent-color: #718be8;
	--background-color: #e5e5e5;
	--body-color: #f9f9f9;
	--nav-height: 3.5em;
	--main-padding: 0.5em;
	--delete-color: #c62525;
}

html {
	background-color: var(--background-color);
}

main {
	margin-left: auto;
	margin-right: auto;
	width: 80em;
	min-height: 10em;
	padding-top: var(--nav-height);
	background-color: var(--body-color);
}


@media (max-width: 80em) {
	main {
		width: auto;
		max-width: 100%;
	}
}